
* {
  font-family: "ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
  margin: 0;
  padding: 0;
  color: #666666;
}

.main-container {
  padding: 20px 20px 40px 20px;
  width: 85%;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}
li {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}